* 漢堡選單樣式 */
.hamburger {
  cursor: pointer;
  font-size: 30px;
  display: none;
}

.hamburger-menu {
  position: fixed;
  top: 10%;
  left: 0;
  height: 60%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hamburger-menu.show {
  display: flex;
}

.hamburger-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}

.hamburger-menu a:hover {
  color: #ccc;
}

@media (max-width: 769px) {
  .hamburger {
    display: block;
  }
  nav ul.menu {
    display: none;
  }
}
/* 下拉菜單樣式 */
.portfolioSubmenu,
.skillsSubmenu {
  display: none;
  position: absolute;
  background-color: #1F7A8C;
  list-style-type: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.submenu li {
  margin-bottom: 8px;
}

.submenu li:last-child {
  margin-bottom: 0;
}

.submenu a {
  color: #fff;
}

.submenu a:hover {
  color: #ccc;
}

.menu > li {
  position: relative;
}

/* 漢堡子菜單樣式 */
.hamburger-submenu-container {
  display: none;
}

.hamburger-menu.show .hamburger-submenu-container {
  display: block;
}

.hamburger-submenu-container a {
  display: block;
  margin-bottom: 10px;
}

.hamburger-submenu-container a:last-child {
  margin-bottom: 0;
}

.portfolioSubmenu,
.skillsSubmenu,
.hamburger-portfolio-submenu-container,
.hamburger-skills-submenu-container {
  display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #1F7A8C;
    padding: 15px;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }
  
  .hero {
    background-image: url('Portfolio.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    text-align: center;
    width: 100%;
    height: calc(100vw * 9 / 16); /* 16:9 aspect ratio */
  }
  
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    gap: 100px;
  }
  
  .cases {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
  }
  
  .case {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .case img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .case h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .case p {
    font-size: 14px;
  }
  
/* 页脚 */
footer {
    margin-top: auto;
    background-color: #70C1B3;
    padding: 20px;
    text-align: center;
    height: 50px; /* 添加此行以設置高度 */
    display: flex; /* 添加此行以使用 Flexbox 佈局 */
    align-items: center; /* 添加此行以垂直居中內部元素 */
    justify-content: center; /* 添加此行以水平居中內部元素 */
  }
  html {
    height: 100%;
  }