/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

/* 顶部导航栏 */
header {
  background-color: #f4f4f4;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

/* 主要内容区 */
main {
  padding: 40px;
}

section {
  margin-bottom: 50px;
}

.custom-margin {
  margin-bottom: 50px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/*跳轉頁面*/
.portfolio-image {
  max-width: 100%;
  height: auto;
}


/* 页脚 */
footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}
